body {
    background-color: #adadad;
}

.title {
    color: #b0b
}

.paragrafo {
    color: brown;
}

.div-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;

}